.label{
    display: flex;
    align-items: center;
}
.checkbox {
/*/*appearance: none;*! Изменяет внешний вид элемента при сохранении его функции.*/
/*    Если задать его значение none, то чекбокс пропадет, но по нему можна будет щелкать и его */
/*    состояние будет меняться*/
/*    appearance: none;*/
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #21268F;
}
.checkbox:checked{
    /*appearance: none;*/
    /*background-image: url("checked1.png");*/

}
.checkbox:focus{
    outline: #9A91C8 solid 1px;
}
.spanClassName {

}
