.container {

}


.tableBox {
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid;
    width: 90%;

    background-color: #FEFEFF;
}
.listItem:nth-child(odd) {
    background-color: #F8F7FD;
}

.listItem:first-child {
    background-color: #ECECF9;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, td {
    text-align: left;
}

.table th {
    padding: 14px 0 14px 24px;
}

.table td {
    padding: 12px 0 12px 24px;
}
.btn {
    margin: 1px;
    padding: 5px 6px 5px 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #21268F;
    background-color: #D7D8EF;
    border-radius: 2px;
    border: none;
}

/*.tableSettings {*/
/*    margin: 2.4rem auto;*/
/*}*/


