.profileBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    max-width: 9.6rem;
    height: auto;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    margin: 0 auto;
}
.counts {
    margin-bottom: 5px;
}