.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.2rem;
    max-width: 100.8rem;
    margin: 0 auto;
    padding: 0;
    background: transparent;
}

.box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.2rem;
    width: 96%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 0.8rem;
    grid-column: 1 /span 12;
    font-size: 1.2rem;
    line-height: 1;
    overflow: hidden;
}

.columnParams {
    width: 100%;
    grid-column: 1 /span 3;
    padding: 0;
    background-color: rgb(236, 236, 249);
}
.profileBox {
    padding: 2.4rem;
    background: rgb(217, 217, 241);
    text-align: center;
}

.avatarBox {
    text-align: center;
    margin: 0 auto 2.4rem;
}
.avatarBox h3 {
    color: rgba(45, 46, 70, 1);
    font: normal 600 1.8rem/2.4rem Poppins, sans-serif;
}

.avatarBox p {
    font-weight: 600;
}

.profileAvatar {
    max-width: 9.6rem;
    height: auto;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    margin: 0 auto;
}

.paramsBox {
    padding: 2.4rem;
}

.filterBtnBlock {
    display: flex;
    justify-content: center;
    margin: 2.4rem auto;
}

.filterBtnBlock button {
    width: 100px;
    height: 36px;
    /*background: #9A91C8;*/
    background: #FFF;
    border-radius: 0px 2px 2px 0px;
    border: none;
}
.filterBtnBlock button:active {
    background: #9A91C8;
}
/*.filterBtnBlock button:hover {*/
/*    background: #9A91C8;*/
/*}*/
.columnContent {
    width: 100%;
    grid-column: 4 / span 9;
    /*padding: 2.4rem 3.6rem;*/
    overflow: hidden;
}
.tableBlock{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.searchBlock{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin-left: 50px;
    margin-bottom: 10px;
}
.packInput{
    width: 700px;
}
.tableBox {
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid;
    width: 90%;
    /*width: 900px;*/

    background-color: #FEFEFF;
}
.listItem:nth-child(odd) {
    background-color: #F8F7FD;
}

.listItem:first-child {
    background-color: #ECECF9;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, td {
    text-align: left;
}

.table th {
    padding: 14px 0 14px 24px;
}

.table td {
    padding: 12px 0 12px 24px;
}
.btn {
    padding: 5px 6px 5px 6px;
    margin: 1px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #21268F;
    background-color: #D7D8EF;
    border-radius: 2px;
    border: none;
}

.tableSettings {
    margin: 2.4rem auto;
}

